@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#tempo::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    background-color: #16a8f0;
    width: 2.5vw;
    height: 2.5vw;
    max-width: 32px;
    max-height: 32px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 32px;
}